PF5__Pre_event_Reminders.json
{
  "name": "PF5- Pre-event Reminders",
  "nodes": [
    {
      "parameters": {},
      "id": "cc256d48-5242-4b20-8089-2f47858a8919",
      "name": "Daily Reminder Check",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -520,
        1380
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "getAll",
        "space": "SPACE_ID",
        "filters": {}
      },
      "id": "c5b88a95-0d80-4c6a-b0e4-de7330123acf",
      "name": "Get Upcoming Events",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        -300,
        1380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "dateTime": [
            {
              "value1": "={{DateTime.fromISO($json.custom_fields.find(field => field.id === 'EVENT_DATE_FIELD_ID').value).diff(DateTime.now(), 'days').days}}",
              "operation": "equal",
              "value2": 3
            }
          ]
        }
      },
      "id": "5844db40-10d9-4302-b36c-7662454aa848",
      "name": "Check 3 Days Before",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -80,
        1280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "dateTime": [
            {
              "value1": "={{DateTime.fromISO($json.custom_fields.find(field => field.id === 'EVENT_DATE_FIELD_ID').value).diff(DateTime.now(), 'days').days}}",
              "operation": "equal",
              "value2": 1
            }
          ]
        }
      },
      "id": "ddf29627-3a59-43b0-9bf7-8a9e2a4c485a",
      "name": "Check 1 Day Before",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -80,
        1480
      ]
    },
    {
      "parameters": {
        "subject": "Your photography session is in 3 days!",
        "message": "Hi {{$json.name.split(' - ')[0]}},\n\nJust a friendly reminder that your {{$json.name.split(' - ')[1].replace(' Photography', '')}} photography is scheduled for {{DateTime.fromISO($json.custom_fields.find(field => field.id === 'EVENT_DATE_FIELD_ID').value).toFormat('EEEE, MMMM dd, yyyy')}}.\n\nPlease confirm if anything has changed with timing or location by replying to this email.\n\nLooking forward to capturing your special moments!\n\nBest regards,\nYour Photography Team",
        "additionalFields": {}
      },
      "id": "38baa017-c247-440e-b776-2efcdea7f1f3",
      "name": "Send 3-Day Reminder",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        140,
        1280
      ]
    },
    {
      "parameters": {
        "subject": "Tomorrow's the big day! Final confirmation",
        "message": "Hi {{$json.name.split(' - ')[0]}},\n\nYour photography session is tomorrow!\n\nFinal details confirmed:\n📅 Date: {{DateTime.fromISO($json.custom_fields.find(field => field.id === 'EVENT_DATE_FIELD_ID').value).toFormat('EEEE, MMMM dd, yyyy')}}\n⏰ Time: [TIME_TO_BE_CONFIRMED]\n📍 Location: [LOCATION_TO_BE_CONFIRMED]\n\nI'll arrive 15 minutes early to set up. Can't wait to capture your special moments!\n\nPlease reply if there are any last-minute changes.\n\nBest regards,\nYour Photography Team",
        "additionalFields": {}
      },
      "id": "cda03c8a-b888-4a91-a76b-203ce028b568",
      "name": "Send 1-Day Reminder",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        140,
        1480
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "update",
        "updateFields": {
          "status": "event approaching"
        }
      },
      "id": "319f9ed2-04a5-4f53-a047-66e0ac05b325",
      "name": "Update Status - Approaching",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        380,
        1420
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Daily Reminder Check": {
      "main": [
        [
          {
            "node": "Get Upcoming Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Upcoming Events": {
      "main": [
        [
          {
            "node": "Check 3 Days Before",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check 1 Day Before",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check 3 Days Before": {
      "main": [
        [
          {
            "node": "Send 3-Day Reminder",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Status - Approaching",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check 1 Day Before": {
      "main": [
        [
          {
            "node": "Send 1-Day Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dd4f0e2a-db8b-4253-adb4-2bd9b4cd23a9",
  "meta": {
    "instanceId": "4275106c8fd02c2533edab3f7741b7db420af0691c825fa5d46bbabd00ca51b7"
  },
  "id": "lN3e0Fy46mPudEcG",
  "tags": [
    {
      "createdAt": "2025-06-21T04:43:25.850Z",
      "updatedAt": "2025-06-21T04:43:25.850Z",
      "id": "AzmQYH3UHtQQ4KLW",
      "name": "Sales Funnel"
    },
    {
      "createdAt": "2025-06-21T04:43:41.023Z",
      "updatedAt": "2025-06-21T04:43:41.023Z",
      "id": "SdEyU151wZVOsuZr",
      "name": "Photography Agency"
    }
  ]
}